.content{
    width: 870px;
    margin: 0 auto;
    margin-top: 95px;
}
.t1 p{
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 16px;
}
.map{
    height: 321px;
    background: violet;
    margin-top: 19px;
}
.t2{
    margin-top: 41px;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 47px;    
}
.targets{
    margin-top: 30px;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: 43px;
    background: #D2D1D1;
    padding: 14px;
    border-radius: 17px;
    height: 1020px;
    width: 870px;
}
.targets::-webkit-scrollbar{
   width: 9px;
}
.targets::-webkit-scrollbar-thumb{
    background: #828282;
}
.targets::-webkit-scrollbar-track{
    background: #BDBDBD;
}
.div{
    position: relative;
    overflow: visible;
}
.target{
    width: 206px;
    background: white;
    border-radius: 17px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 11px;
    margin-right: 9px;
    box-shadow: 0px -3px 5px 2px rgba(0, 0, 0, 0.25);
    float: left;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    z-index: 2;
}
.move{
    margin-top: 186px;
    transition: 0.5s;
}
.perfilr{
    width: 53px;
    height: 53px;
    margin: 0 auto;
    margin-top: 21px;
    background: #CFDCE6;
    border-radius: 50%;
}
.tn p{
    margin-top: 11px;
    font-size: 13px;
}
.tn .p1{
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
    font-style: normal;
}
.line{
    margin: 0 auto;
    margin-top: 14px;
    width: 120px;
    height: 1px;
    background: #BDBDBD;
}
.stars{
    margin-top: 14px;
    display: -webkit-box;
    margin-left: 65px;
}
.star{
    width: 15px;
    height: 14px;
    background-image: url('../../../../../assets/icons/estrella.svg');
    margin-right: 2px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.info{
    margin-top: 24px;
    margin-left: 22px;
    font-size: 14px;
    line-height: 20px;
    color: #2F80ED;
    text-align: left;
}
.dark{
    font-weight: bold;
}
.mensaje{
    margin-top: 23px;
    color: white;
    background: #2F80ED;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
}
.imagem{
    width: 25px;
    height: 23px;
    margin: 0 auto;
    margin-top: 9px;
    background-image: url('../../../../../assets/icons/Inbox.svg');
    
}
.mensaje p{
    margin-top: 9px;
    margin-bottom: 10px;
}
.data{
    width: 206px;
    font-size: 14px;
    line-height: 20px;
    color: #2F80ED;
    position: absolute;
    top: 0;
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
    background: white;
    cursor: pointer;
}
.minimap2{
    height: 114px;
    background: violet;
    width: 183px;
    margin: 0 auto;
    margin-top: 13px;
}
.dir{
    margin-left: 19px;
    margin-top: 14px;
    margin-bottom: 15px;
}
.ruta{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 12px;
    bottom: 15px;
    background-image: url('../../../../../assets/icons/ir.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
