<div class="LoginCaja">
<div class="LoginCaja2">
  <form  #formData='ngForm' (ngSubmit)="onSubmit(formData)"  >
    <div class="logoLogin">
    </div>
    <div >
      <div>
        <input class='validate' id="exampleInputEmail1"  type='email' (ngModel)="email" name='email'  placeholder="Username" required/>
      </div>
    </div>
    <div >
      <div >
        <input class='validate' type='password' id="exampleInputPassword1" (ngModel)="password" name='password'   placeholder="Password" required/>
      </div>
      <label>
        <a class='forgpass' routerLink='../Recuperar'><b>Forgot Password?</b></a>
      </label>
    </div>
    <br />
    <div class="principal">
      <div>
        <button  [disabled]="!formData.valid" class="button btnrigh">Login</button>
      </div>
    </div>
      <!--span class="error" *ngIf="error" >ewdrqefewfwe{{ error }}</span-->
  </form>

  <span class="error" *ngIf="error" >{{ error }}</span>
</div>
</div>
