<app-inicio-sesion #child1></app-inicio-sesion>
<div class="menuPrin">

    <div class="h1 font50">Sign up to be a part of <label  class="label">OnSite.</label></div>
    <div  class="menuImagenesTo">
      <div class="cuadroPrincipal">
        <div class="imgMenu">
        </div>

          <button routerLink="registroPro" class="button">Join as Pro</button>
      </div>
      <div class="cuadroPrincipal cright">
        <div class="imgMenu2">
        </div>
          <button routerLink="registroHire" class="button">Join to Hire</button>
      </div>
    </div>


</div>
<div class="contenedorfinal">
  <div class="contenedorcentrado">
  <div class="textpri">
     Already have an account?
  </div>
<button class="button" (click)="abrircerrar()">Login</button>
  </div>
</div>
