<div class="contenedor">
  <div class="t1">
    <div class="text">
      <p>See your <label class="label">inbox.</label></p>
    </div>
    <div class="search">
      <input class="input" placeholder="Search by name, status or project. ">
    </div>
  </div>
  <div class="chat">
    <div class="column1">
      <div class="people">
        <p class="first">Email Subject Line</p>
        <div class="perfil">
          <div class="image"></div>
          <div class="datos">
              <p class="second">Email Name Space</p>
              <div class="disp">
                <div class="color green"></div>
                <p class="third">Available</p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column2"></div>
  </div>
</div>