.contenedor{
    margin: 0 auto;
    margin-top: 88px;
    width: 868px;
}
.t1{
    overflow: hidden;
}
.text{
    float: left;
    font-size: 40px;
    line-height: 45px;
}
.search{
    float: right;
    width: 534px;
}
.chat{
    margin-top: 67px;
    overflow: hidden;
    background-color: white;
    border-radius: 17px;
    height: 401px;
}
.column1{
    width: 336px;
    float: left;
    height: 100%;
    overflow-y: scroll;
    position: relative;
}
.column2{
    width: 532px;
    float: right;
    position: relative;
}
.people{
    border-bottom: #BDBDBD solid 1px;
    cursor: pointer;
}
.first{
    color: #2F80ED;
    font-size: 18px;
    margin-top: 16px;
    margin-left: 31px;
    font-weight: 600;
}
.perfil{
    margin-top: 9px;
    margin-left: 31px;
    overflow: hidden;
    margin-bottom: 11px;
}
.image{
    width: 41px;
    height: 41px;
    float: left;
    background-color: gray;
    border-radius: 50%;
}
.datos{
    float: left;
    margin-left: 10px;
}
.second{
    font-size: 14px;
    font-weight: 500;
}
.disp{
    margin-top: 11px;
    position: relative;
}
.color{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 0;
}
.third{
    font-size: 12px;
    color: #828282;
    margin-left: 18px;
    line-height: 17px;
}
.green{
    background-color: #219653;
}
.red{
    background-color: #F30000;
}
.yellow{
    background-color: #F2C94C;
}
.column1::-webkit-scrollbar{
    width: 9px;
}
.column1::-webkit-scrollbar-track{
    background: #BDBDBD;
}
.column1::-webkit-scrollbar-thumb{
    background: #828282;
}
.subjet{
    font-size: 28px;
    color: #2F80ED;
    margin-top: 16px;
    margin-left: 20px;
    font-weight: 600;
}
.first2{
    color: black;
    margin-top: 11px;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 500;
}
.disp2{
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
    margin-bottom: 14px;
}
.head{
    position: relative;
    border-bottom: #BDBDBD solid 1px;
}
.othertext{
    position: absolute;
    bottom: 16px;
    right: 20px;
    text-align: right;
}
.blue{
    color: #2F80ED;
    font-size: 18px;
    margin-top: 5px;
    font-weight: 600;
}
.new{
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    background-color: #008AF3;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 45px;
    color: white;
    text-align: center;
    font-size: 14px;
    line-height: 47px;
    cursor: pointer;
}
.new p::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url('../../../../../assets/icons/newmessage.svg');
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.body{
    height: 220px;
    overflow-y: scroll;
}
.body::-webkit-scrollbar{
    width: 9px;
}
.body::-webkit-scrollbar-track{
    background: #BDBDBD;
}
.body::-webkit-scrollbar-thumb{
    background: #828282;
}
.message{
    background-color: #F2F2F2;
    overflow: visible;
    position: relative;
    border-top-right-radius: 17px;
    height: stretch;
}
.message::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 18px solid #F2F2F2;
    border-right: 12.5px solid transparent;
    border-left: 12.5px solid transparent;
    right: 50px;
    z-index: 1;
    top: -18px;
}
.adjunto{
    width: 30px;
    height: 33px;
    margin-left: 20px;
    margin-top: 16px;
    background-image: url('../../../../../assets/icons/adjunto.svg');
    float: left;
    cursor: pointer;
}
.message .input{
    width: 291px;
    float: left;
    height: 43px;
    margin-left: 16px;
    margin-top: 14px;
    margin-bottom: 11px;
}
.button{
    position: absolute;
    margin-top: 14px;
    right: 24px;
}
.date{
    text-align: center;
    font-size: 12px;
    color: #828282;
    margin-top: 9px;
}
.contact{
    overflow: hidden;
    margin-left: 22px;
    width: 407px;
    margin-top: 11px;
    position: relative;
}
.perfil2{
    position: absolute;
    width: 35px;
    height: 35px;
    background-image: url('../../../../../assets/login/blueprofileicon.svg');
    background-size: cover;
    bottom: 24px;
}
.textochat{
    float: left;
    background: #F2F2F2;
    color: #828282;
    border-radius: 17px;
    font-size: 12px;
    margin-left: 50px;
    width: 357px;
}
.textochat p{
    margin-left: 21px;
    margin-right: 12px;
    line-height: 14px;
}
.textochat .p1{
    margin-top: 14px;
}
.textochat .p2, .textochat .p3{
    margin-top: 19px;
}
.linea{
    margin: 0 auto;
    margin-top: 6px;
    height: 1px;
    width: 327px;
    background: #BDBDBD;
}
.archadjunto{
    margin-top: 7px;
    overflow: hidden;
    margin-left: 21px;
    margin-bottom: 11px;
}
.clip{
    float: left;
    width: 12px;
    height: 13px;
    background-image: url('../../../../../assets/icons/adjunto.svg');
    background-size: cover;
}
.archad{
    float: left;
    font-weight: 600;
}
.archad p{
    margin-left: 11px;
}
.time{
    color: #828282;
    font-size: 12px;
    margin-left: 53px;
    margin-top: 13px;
    float: left;
}
.minimenu{
   border-radius: 17px;
   overflow: hidden;
   background: #F2F2F2;   
   width: 357px;
   font-size: 12px;
   font-weight: 500;  
   text-align: center;
   margin-left: 50px;
   margin-top: 9px;
}
.minimenu .button{
    position: relative;
    width: 102px;
    height: 26px;
    font-size: 11px;
    margin-left: 7px;
    margin-top: 0;
}
.minimenu .button:first-child{
    margin-left: 0px;
}
.minimenu .botones{
    display: inline-flex;
    margin-top: 16px;
    margin-left: 44px;
    margin-bottom: 6px;
}
.verde{
    background: #27AE60;
}
.negro{
    background: #333333;
}
.section{
    position: relative;
    margin-left: 22px;
}
.title{
    margin-top: 20px;
    color: #828282;
}
.text2{
    margin-top: 15px;
}
.section .perfil2{
    bottom: 0;
}
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background-image: url('../../../../../assets/icons/modal.svg');
}
.flotante{
    background-color: white;
    font-size: 26px;
    font-weight: 600;
    width: 397px;
    position: absolute;
    left: 42%;
    top: 39%;
    transform: translate(-50%,-50%);
    border-radius: 17px;
    z-index: 6;
}
.flotante p{
    margin-top: 44px;
    margin-left: 25px;
}
.con{
    margin-top: 18px;
    display: inline-flex;
    margin-left: 25px;
    margin-bottom: 42px;
}
.con .input{
    width: 214px;
}
.con .button{
    width: 102px;
    height: 27px;
    font-size: 11px;
    font-weight: 600;
    margin-left: 20px;
}
.flotante .xblue{
    position: absolute;
    top: 10px;
    right: 10px;
}