<div class="contenedor">
    <div class="text">
      <p>This is <label class="label"> Excavation at 280 S.</label></p>
    </div>
    <div class="cont">
      <div class="colum1">
        <p class="primer">This is <label class="label"> what </label>Jimmy <label class="label"> needs.</label></p>
        <div class="caja1">
          <div class="tags"><p>Drywall Team</p></div>
          <div class="tagswhite"><p>Drywall Hanger</p></div>
        </div>
          <p class="small">You’ve completed these jobs:</p>
        <div class="caja2">
          <div class="tags"><p>Plaster Team</p></div>
          <div class="tagswhite"><p>Plaster</p></div>
        </div>
        <div class="texto">
          <p>Location</p>
          <p>1234 Meadow Dr.<br>
              Unit 123<br>
              Wynwood, FL 33127</p>
        </div>
        <div class="texto2">
          <p>Additional comments:</p>
          <p>My whole front driveway is disgusting and I need help installing<br>
             a new one. I think there are some utility lines; not sure<br>
              so please help.</p>
        </div>
      </div>
      <div class="colum2">
        <div class="mapa"></div>
      </div>
    </div>
    <div class="teams">
      <p class="title">See your<label class="label"> teams.</label></p>
      <div class="team">
        <div class="tags"><p>Drywall Team</p></div>
        <div class="perfiles"></div>
        <div class="textperfil label"><p>6 members</p></div>
      </div>
      <div class="team2">
        <p>Inactive Teams</p>
        <div class="tags">Plaster Team</div>
        <div class="perfiles"></div>
        <div class="textperfil label"><p>3 members</p></div>
      </div>
    </div>
    <div class="title2">
      <p>See your<label class="label"> timeline.</label> </p><input type="text" class="input" placeholder="Excavation Team">
    </div>
    <div class="calendar">
      <div class="date"><p>Day, Month, Year</p></div>
      <div class="botons">
        <div class="day active btn"><p>Date</p></div>
        <div class="mes btn"><p>Weeks</p></div>
        <div class="year btn"><p>Months</p></div>
      </div>
      <div class="calendarfull">
        <div class="calendario"></div>
      </div>
    </div>
    <div class="title2">
        <p>See your<label class="label"> tools.</label> </p><input type="text" class="input" placeholder="Search Category">
      </div>
    <div class="tools">
      <div class="tags"><p>Drywall Tools</p></div>
      <div class="fila">
        <div class="tagswhite"><p>Drywall Pouches</p></div>
        <div class="tagswhite"><p>Hand Tools</p></div>
        <div class="tagswhite"><p>Drywall Square</p></div>
        <div class="tagswhite"><p>Extension Cord</p></div>
        <div class="tagswhite"><p>Drywall Gun</p></div>
        <div class="tagswhite"><p>Stilts</p></div>
        <div class="tagswhite"><p>Drywall Drill</p></div>
        <div class="tagswhite"><p>Mud Pan</p></div>
        <div class="tagswhite"><p>Complete Set of Drywall Knives</p></div>
      </div>
    </div>
    <div class="title2 t2">
        <p>See your<label class="label"> tasks.</label> </p>
      </div>
      <div class="message"></div>
  </div>