.sectionbody {
    background: #E0E0E0;
    height: calc(100% - 80px);
    width: 100%;
    position: absolute;
    /*filter: blur(3px);*/
}

.menuYaLoguiado {
    width: 225px;
    background: #FFFFFF;
    height: 100%;
    top: 0;
    z-index: 2;
    box-shadow: 10px 4px 21px rgba(0, 0, 0, 0.46);
    float: left;
    overflow: hidden;
    position: relative;
}

.Contenidohire {
    float: left;
    width: calc(100% - 225px);
    height: 100%;
    overflow: scroll;
    display: inline-flex;
    position: absolute;
}

.logabajo {
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    height: 70px;
    background: #2F80ED;
    font-family: 'Archivo';
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.PlusButton {
    background-image: url("../../../../assets/icons/PlusButton.png");
    height: 40px;
    width: 40px;
    float: left;
    background-size: cover;
}

.plustitulo {
    float: left;
    line-height: 35px;
}

.blueprofileicon {
    background-image: url("../../../../assets/login/blueprofileicon.svg");
    height: 71px;
    width: 71px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.profilleloguiado {
    position: relative;
    height: 200px;
}

.nomsi {
    font-family: "Archivo";
    font-weight: bold;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    color: #2F80ED;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%);
}

.centradoFinal {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    margin-left: 20px;
    cursor: pointer;
}

.t1m {
    font-family: "Archivo";
    font-weight: bold;
    font-size: 17px;
    color: #2F80ED;
    height: 36px;
    display: inline-flex;
    margin-left: 25px;
    line-height: 36px;
}

.flechateam {
    display: inline-flex;
    height: 12px;
    width: 12px;
    background-image: url("../../../../assets/icons/miniflechaAzul.png");
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    margin-right: 36px;
    cursor: pointer;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    right: 0;
}

.conxenhireright {
    width: 916px;
    height: 515px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin-top: -40px;
}


.itemsprincipales {
    position: relative;
    cursor: pointer;
}
.itemsprincipales1 {
    color: #FFFFFF !important;
    background: #2F80ED;
}

.itemsprincipales1 .t1m {
    color: #FFFFFF !important;
}

.itemsprincipales1 .flechateam {
    background-image: url("../../../../assets/icons/flechaabajomenu.svg") !important;
    width: 14px;
    margin-top: 2.2px;
    height: 14px;
}

.itemsprincipales:hover {
    color: #FFFFFF !important;
    background: #2F80ED;
}

.itemsprincipales:hover .t1m {
    color: #FFFFFF !important;
}

.itemsprincipales:hover .flechateam {
    background-image: url("../../../../assets/icons/flechaabajomenu.svg") !important;
    width: 14px;
    height: 14px;
}

.flechaabajomenu .menuExplore {
    margin-top: -100px;
}
