<section class="sectionbody">
    <div class="menuYaLoguiado">
        <div class="profilleloguiado">
            <div class="blueprofileicon">
                <div class="alertaTrabajo"></div>
            </div>
            <div class="nomsi">John Doe</div>
        </div>
        <div class="menuTeam">
            <div class="">
                <div (click)="home()" class="itemsprincipales">
                    <div class="t1m">HOME</div>
                    <div class="flechateam"></div>
                </div>
                <div (click)="inbox()" class="itemsprincipales">
                    <div class="t1m">INBOX</div>
                    <div class="flechateam"></div>
                </div>
                <div (click)="projects()" class="itemsprincipales">
                    <div class="t1m">PROJECTS</div>
                    <div class="flechateam"></div>
                </div>
                <div (click)="track()" class="itemsprincipales">
                    <div class="t1m">TRACK</div>
                    <div class="flechateam"></div>
                </div>
                <div (click)="explore()" class="itemsprincipales">
                    <div class="t1m">EXPLORE</div>
                    <div class="flechateam"></div>
                </div>
            </div>
            <div class="logabajo">
                <div class="centradoFinal">
                    <div class="PlusButton"></div>
                    <div (click)="start()"class="plustitulo">Start new project</div>
                </div>
            </div>
        </div>
    </div>
    <div class="Contenidohire">
        <div class="conxenhireright">
          <!--
            <div *ngIf="menuVista == 'Home'" class="menuHome">
              <div class="">
                  <h1 class="h1" style="color:#000"><label class="label">Check </label>out your <label class="label">projects.</label></h1>
              </div>
              <div class="colum last">
                  <input type="text" (click)="menu()" readonly class="input" placeholder="{{placeholder}}">
                  <img (click)="menu()" src="../../../../../assets/icons/opcionSelect.svg" class="arrowd" width="28" height="15" [ngClass]="rotar">
              </div>
              <div class="list" [ngClass]="aparecer">
                  <div class="seleccion" *ngFor="let l of list" (click)="almacenar(l.categorias)">
                      <p>{{l.name}}</p>
                  </div>
              </div>

              <div class="">
                <div class="">
                  You don’t have any projects.
                </div>
                <div class="Get Started">

                </div>

              </div>
            </div>
            <div *ngIf="menuVista == 'Inbox'" class="menuInbox">
                Inbox
            </div>
            <div *ngIf="menuVista == 'Projects'" class="menuProjects">
                Projects
            </div>
            <div *ngIf="menuVista == 'Track'" class="menuTrack">
                Track
            </div>
            <div *ngIf="menuVista == 'Explore'" class="menuExplore">
                <div class="">
                    <h1 class="h1">See<label class="label">who’s out there.</label></h1>
                </div>
                <div class="colum last">
                    <input type="text" (click)="menu()" readonly class="input" placeholder="{{placeholder}}">
                    <img (click)="menu()" src="../../../../../assets/icons/opcionSelect.svg" class="arrowd" width="28" height="15" [ngClass]="rotar">
                </div>
                <div class="list" [ngClass]="aparecer">
                    <div class="seleccion" *ngFor="let l of list" (click)="almacenar(l.categorias)">
                        <p>{{l.categorias}}</p>
                    </div>
                </div>
                <div class="textoselectabajo">
                    <span class="textoselectabajo1">Sort: Newest Jobs</span>
                    <span class="textoselectabajo2"></span>
                </div>
            </div>
          -->
            <div  *ngIf="menuVista == 'Start'" class="menuStart">
              <div *ngIf="next  == 0">
                  <h1 class="h1" style="color:#000">Name your <label class="label">project.</label></h1>

              <div style="margin-top :40px"class="colum last">
                  <input type="text"   class="input" placeholder="Type project name.">
              </div>
              </div>

              <div *ngIf="next  == 1">
                  <h1 class="h1" style="color:#000">What do you need<label class="label"> help </label>with?</h1>

                  <div class="colum last">
                      <input type="text" (click)="menu()" readonly class="input" placeholder="{{placeholder}}">
                      <img (click)="menu()" src="../../../../../assets/icons/opcionSelect.svg" class="arrowd" width="28" height="15" [ngClass]="rotar">
                  </div>
                  <div class="list" [ngClass]="aparecer">
                      <div class="seleccion" *ngFor="let l of list" (click)="almacenar(l.categorias)">
                          <p>{{l.categorias}}</p>
                      </div>
                  </div>
              </div>
              <div class="botones">
                  <button class="button back" *ngIf="next > 0" (click)="back()">Back</button>
                  <button class="button" (click)="seguir()"><label *ngIf="next < 3">Next</label><label *ngIf="next == 3">Finish</label></button>
              </div>
            </div>
        </div>
    </div>
</section>
