<section class="sectionbody">
    <div class="menuYaLoguiado">
        <div class="profilleloguiado">
            <div class="blueprofileicon">
                <div class="alertaTrabajo"></div>
            </div>
            <div class="nomsi">John Doe</div>
        </div>
        <div class="menuTeam">
            <div class="">
                <div (click)="menu(1)" class="itemsprincipales" [class.itemsprincipales1]="m == 1">
                    <div class="t1m">HOME</div>
                    <div class="flechateam"></div>
                </div>
                <div (click)="menu(2)" class="itemsprincipales" [class.itemsprincipales1]="m == 2">
                    <div class="t1m">INBOX</div>
                    <div class="flechateam"></div>
                </div>
                <div (click)="menu(3)" class="itemsprincipales" [class.itemsprincipales1]="m == 3">
                    <div class="t1m">PROJECTS</div>
                    <div class="flechateam"></div>
                </div>

                <div (click)="menu(4)" class="itemsprincipales" [class.itemsprincipales1]="m == 4">
                    <div class="t1m">EXPLORE</div>
                    <div class="flechateam"></div>
                </div>
            </div>
            <div class="logabajo">
                <div class="centradoFinal">
                    <div class="PlusButton"></div>
                    <div (click)="menu(5)" class="plustitulo">Start new project</div>
                </div>
            </div>
        </div>
    </div>
    <div class="Contenidohire">
        <div class="conxenhireright">

            <div *ngIf="menuVista == 'Home'" class="menuHome">
                <app-menuhome></app-menuhome>
            </div>
            <div *ngIf="menuVista == 'Inbox'" class="menuInbox">
                <app-menuinbox></app-menuinbox>
            </div>
            <div *ngIf="menuVista == 'Projects'" class="menuProjects">
                <app-menuprojects></app-menuprojects>
            </div>

            <div *ngIf="menuVista == 'Explore'" class="menuExplore">
                <app-menuexplore></app-menuexplore>
            </div>

            <div *ngIf="menuVista == 'Start'" class="menuStart">
                <app-menunewproyect #child12></app-menunewproyect>
            </div>
        </div>
    </div>
</section>
