<div [ngClass]="mostrar1"  class="modal_hire">

</div>
<div [ngClass]="mostrar1"  class="taget">

  <div (click)="nomostrar()" class="parte1arribamodal">
    <div class="antesjzbola">
        <div class="jzbola">J.Z.</div>
    </div>

    <div class="aladnombre">
      <div class="nombretrabajo">Jimmy can help with </div>

      <div class="profesion">Drywall</div>
      <div class="estrelladivprincipal">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="aladestrella">
      <div class="bolasx">
        <span class="bolaxrojo"> <img src="../../../assets/icons/Shape.svg" alt="x"> </span>
        <span>  <img src="../../../assets/icons/Shape.svg" alt="x"> </span>
        <span>  <img src="../../../assets/icons/Shape.svg" alt="x"> </span>
      </div>
      <div class="texbolas">
        See Reviews <span class="flechateam"></span>
      </div>
    </div>
  </div>
  <!--div class="v2">
    <div class="contenedorstyle">
      Hourly Rate: 10$

    <div class="contptextoigual">
      <div class="div2w">
        Expertise:
      </div>
      <div class="div2w texbolas div2wxxx" style="text-align:right">
        See Expertise <span class="flechateam"></span>
      </div>
    </div>
      <div class="contenBotonsi" >
        <div class="btnform">
          Drywall Apprentice
        </div>
        <div class="btnform posribt">
          General Labor
        </div>
      </div>


      <div class="mapay">

      </div>
      <div class="textfiladiv2">
        Work Radius: 50 mi from 33130
      </div>

   </div>
 </div-->
 <div class="v22">
   <div *ngFor="let l of list" class="contedorTrabajadores">
     <div class="antesjzbola">
         <div class="jzbola">B.D.</div>
     </div>
     <div class="aladnombre">
       <div class="profesion">Bob Delong</div>
       <div class="estrelladivprincipal">
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
       </div>
     </div>
     <div class="textoProfesion">Jimmy was exceptional at getting his job done. The only issue I  had was that he was not on time.</div>

   </div>
 </div>
  <div class="v3">
    <div class="">
      <img src="../../../assets/icons/MessageButton.svg" alt="Message">
    </div>
    <div class="">
      <img src="../../../assets/icons/Call.svg" alt="Call">
    </div>
    <div class="">
        <img src="../../../assets/icons/Frame.svg" alt="Tools">
    </div>

  </div>
</div>
<section class="sectionbody">

    <div class="menuYaLoguiado">
        <div class="profilleloguiado">

            <div class="blueprofileicon"><div class="alertaTrabajo"></div></div>
            <div class="nomsi">John Doe</div>
        </div>
        <div class="menuTeam">
            <div class="">
                <div  (click)="home()"  class="itemsprincipales">
                    <div class="t1m">HOME</div>
                    <div class="flechateam"></div>
                </div>
                <div  (click)="inbox()"  class="itemsprincipales">
                    <div class="t1m">INBOX</div>
                    <div class="flechateam"></div>
                </div>
                <div (click)="projects()" class="itemsprincipales">
                    <div class="t1m">PROJECTS</div>
                    <div class="flechateam"></div>
                </div>
                <div (click)="track()"  class="itemsprincipales">
                    <div class="t1m">TRACK</div>
                    <div class="flechateam"></div>
                </div>
                <div (click)="explore()" class="itemsprincipales">
                    <div class="t1m">EXPLORE</div>
                    <div class="flechateam"></div>
                </div>
            </div>
            <div class="logabajo">
                <div class="centradoFinal">
                    <div class="PlusButton"></div>
                    <div class="plustitulo">Start new project</div>
                </div>
            </div>
        </div>
    </div>
      <div class="Contenidohire">
        <div class="conxenhireright" >
          <div   *ngIf="menuVista == 'Home'" class="menuHome">
            <div class="">
              <h1 class="h1">See<label class="label">who’s out there.</label></h1>
            </div>
            <div class="">
              <div class="colum last relaselect">
                  <input type="text" readonly class="input" placeholder="What type of job do you need help with?">
                  <img src="../../../../../assets/icons/opcionSelect.svg" class="arrowd" width="28" height="15" [ngClass]="rotar">
              </div>
            </div>
            <div class="textoselectabajo">
              <span class="textoselectabajo1">Sort: Newest Jobs</span>
              <span class="textoselectabajo2"></span>
            </div>

            <div class="">
              <!-- Slider main container -->
              <div class="swiper-container">
              <!-- Additional required wrapper -->
              <div   class="swiper-wrapper">

                <!--div [class.mostrar]="clicked === l"  (click)="clicked = l"  class="modal_hire">
                    <div  class="taget">

                      <div class="parte1arribamodal">
                        <div class="antesjzbola">
                            <div class="jzbola">J.Z.</div>
                        </div>

                        <div class="aladnombre">
                          <div class="nombretrabajo">Jimmy can help with </div>

                          <div class="profesion">Drywall</div>
                          <div class="estrelladivprincipal">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                        <div class="aladestrella">
                          <div class="bolasx">
                            <span class="bolaxrojo"> <img src="../../../assets/icons/Shape.svg" alt="x"> </span>
                            <span>  <img src="../../../assets/icons/Shape.svg" alt="x"> </span>
                            <span>  <img src="../../../assets/icons/Shape.svg" alt="x"> </span>
                          </div>
                          <div class="texbolas">
                            See Reviews <span class="flechateam"></span>
                          </div>
                        </div>
                      </div>
                      <div class="v2">
                        <div class="contenedorstyle">
                          Hourly Rate: 10$

                        <div class="contptextoigual">
                          <div class="div2w">
                            Expertise:
                          </div>
                          <div class="div2w texbolas div2wxxx" style="text-align:right">
                            See Expertise <span class="flechateam"></span>
                          </div>
                        </div>
                          <div class="contenBotonsi" >
                            <div class="btnform">
                              Drywall Apprentice
                            </div>
                            <div class="btnform posribt">
                              General Labor
                            </div>
                          </div>


                          <div class="mapay">

                          </div>
                          <div class="textfiladiv2">
                            Work Radius: 50 mi from 33130
                          </div>

                       </div>
                      </div>
                      <div class="v3">
                        <div class="">
                          <img src="../../../assets/icons/MessageButton.svg" alt="Message">
                        </div>
                        <div class="">
                          <img src="../../../assets/icons/Call.svg" alt="Call">
                        </div>
                        <div class="">
                            <img src="../../../assets/icons/Frame.svg" alt="Tools">
                        </div>

                      </div>
                    </div>
                </div-->

              <!-- Slides -->
              <div *ngFor="let t of list"   id="s-1"  class="swiper-slide">
                <div class="v1">
                  <div class="view">View Profile</div>
                  <div class="parte1arriba">
                    <div class="antesjzbola">
                        <div class="jzbola">J.Z.</div>
                    </div>

                      <div class="bolasx">
                        <span class="bolaxrojo"> <img src="../../../assets/icons/Shape.svg" alt="x"> </span>
                        <span>  <img src="../../../assets/icons/Shape.svg" alt="x"> </span>
                        <span>  <img src="../../../assets/icons/Shape.svg" alt="x"> </span>
                      </div>
                      <div class="nombretrabajo">Jimmy can help with </div>
                      <div class="profesion">Drywall</div>
                  </div>
                </div>
                <div class="v2">
                  <div class="estrelladivprincipal">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                  <div class="textoPrincipalazulta">

                    <div class="lkefttgext"><span>Work Area Radius:</span> 50 miles from 33156</div>
                    <div class="rigtgext"  (click)="mostrar(t)">See Details</div>
                  </div>

                </div>
                <div class="v3">
                  <div class="">
                    <img src="../../../assets/icons/MessageButton.svg" alt="Message">
                  </div>
                  <div class="">
                    <img src="../../../assets/icons/Call.svg" alt="Call">
                  </div>
                  <div class="">
                      <img src="../../../assets/icons/Frame.svg" alt="Tools">
                  </div>

                </div>

              </div>


              </div>
              <!-- If we need scrollbar -->
              <div class="swiper-scrollbar"></div>
              </div>
            </div>
          </div>

          <div   *ngIf="menuVista == 'Inbox'" class="menuInbox">
            Inbox
          </div>

          <div   *ngIf="menuVista == 'Projects'" class="menuProjects">
            Projects
          </div>

          <div   *ngIf="menuVista == 'Track'" class="menuTrack">
            Track
          </div>

          <div   *ngIf="menuVista == 'Explore'" class="menuExplore">
            <div class="">
              <h1 class="h1">See<label class="label">who’s out there.</label></h1>
            </div>
            <!--div class="">
              <div class="colum last relaselect">
                  <input type="text" readonly class="input" placeholder="What type of job do you need help with?">
                  <img src="../../../../../assets/icons/opcionSelect.svg" class="arrowd" width="28" height="15" [ngClass]="rotar">
              </div>
            </div-->

                <div class="colum last">
                    <input type="text" (click)="menu()" readonly class="input" placeholder="{{placeholder}}">

                    <img (click)="menu()" src="../../../../../assets/icons/opcionSelect.svg" class="arrowd" width="28" height="15" [ngClass]="rotar">

                </div>

                <div class="list" [ngClass]="aparecer">
                  <div class="seleccion" *ngFor="let l of list" (click)="almacenar(l.categorias)">
                    <p>{{l.categorias}}</p>
                  </div>
                </div>








            <div class="textoselectabajo">
              <span class="textoselectabajo1">Sort: Newest Jobs</span>
              <span class="textoselectabajo2"></span>
            </div>

          </div>
        </div>
      </div>





</section>
