.sectionbody{
  background:#E0E0E0;
  height: calc(100% - 80px);
  width: 100%;
  position: absolute;
 /*filter: blur(3px);*/
}
.menuYaLoguiado{
  width: 225px;
  background: #FFFFFF;
  height: 100%;
  top: 0;
  z-index: 2;
box-shadow: 10px 4px 21px rgba(0, 0, 0, 0.46);
float: left;
overflow: hidden;
position: relative;
}
.Contenidohire{
  float: left;
    width: calc(100% - 225px);
height: 100%;
overflow: scroll;
display: inline-flex;
position: absolute;
}
.logabajo{
  position: absolute;
left: 0%;
right: 0%;
bottom: 0%;
height: 70px;
background: #2F80ED;
font-family: 'Archivo';
font-weight: bold;
font-size: 17px;
line-height:  20px;
text-align: center;
color: #FFFFFF;
}
.PlusButton{
  background-image: url("../../../assets/icons/PlusButton.png");
  height: 40px;
  width: 40px;
  float: left;
  background-size: cover;
}
.plustitulo{
  float: left;
  line-height: 35px;
}
.blueprofileicon{
  background-image: url("../../../assets/login/blueprofileicon.svg");
  height: 71px;
  width: 71px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
}
.profilleloguiado{

  position: relative;
  height:200px;
}
.nomsi{
  font-family: "Archivo";
  font-weight:bold;
font-size: 11px;
line-height: 20px;
text-align: center;
color:#2F80ED;
position: absolute;
bottom: 35px;
left: 50%;
transform: translate(-50%);
}
.centradoFinal{
  position: absolute;
      transform: translateY(-50%);
      top: 50%;
      margin-left: 20px;
}
.t1m{
  font-family: "Archivo";
  font-weight:bold;
font-size: 17px;

color: #2F80ED;
height: 36px;
display: inline-flex;
margin-left: 25px;
line-height: 36px;
}
.flechateam{
  display: inline-flex;
  height: 10px;
  width: 10px;
  background-image: url("../../../assets/icons/miniflechaAzul.png");
  background-size: contain;
background-repeat: no-repeat;
float: right;
    margin-right: 36px;
    cursor: pointer;
    top: 50%;
position: absolute;
transform: translateY(-50%);
right: 0;
}
.conxenhireright{
  width: 915px;
  height: 515px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}
.relaselect{
  position: relative;
  margin-top: 20px;
}
.swiper-wrapper{
  display: -webkit-box;
  overflow-x: scroll;

}
.swiper-wrapper::-webkit-scrollbar {
height: 8px;
}
.swiper-wrapper::-webkit-scrollbar-track {
background: #BDBDBD;
}
.swiper-wrapper::-webkit-scrollbar-thumb {

background: #828282;
}

.swiper-container {
width:  913px;
height: 364px;
margin-top: 50px;
}
.swiper-slide{
width: 295px;
height:  329px;
background: #FFFFFF;
border-radius: 17px;
overflow: hidden;
margin-right: 11px;
}
.v1{
  height: 130px;

}
.seleccion{
  background: #FFFFFF;
}
.last{
  position: relative;
}
.v2{
  height: 125px;

}

.v3{
  height: 75px;

}
.parte1arriba{
  width: 175px;
  height: 100%;
  background: ping;
  transform: translateX(-50%);
  position: relative;
  left: 50%;
  border-bottom: 2px solid #BDBDBD;
}

  .swiper-container-horizontal>.swiper-scrollbar {
height: 9px;
  width: 100%;
  left: 0%;
}
.view{
width: 84px;
height: 28px;
border-radius: 5px;
background: #2F80ED;
box-shadow:  0px, 2px, 10px rgba(0, 0, 0, 0.25);
font-family:  "Archivo";
font-weight: 500;
font-size: 14px;
line-height: 30px;
text-align: center;
color: #FFFFFF;
position: absolute;
margin-left: 10px;
margin-top: 10px;
}
.antesjzbola{
  position: relative;
  height: 75px;
}
.jzbola{
  height: 53px;
  width: 53px;
  border-radius: 50%;
  font-family:  "Archivo";
  font-weight: bold;
font-style:  italic;
font-size: 15px;
line-height:52px;
text-align:center;
background: #CFDCE6;
left: 50%;
transform: translateX(-50%);
position: absolute;
margin-top: 20px;

}
.bolasx {
  height: 11px;
  width: 37px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  margin-top: 4px;
  overflow: hidden;
}
.bolasx >span {
  position: relative;
background: #D0C4C4;
height: 9px;
width: 9px;
float: left;
margin-right: 5px;
border-radius: 50%;

}
.bolasx >span img{
  position: absolute;
  top: 50%;
  left: 47.6%;
  transform: translate(-50%,-50%);
  height: 4px;
  width: 4px;
}


.bolasx>span:nth-last-of-type(1){
margin-right: 0px;
}

.v3>div{
  height: 100%;
  border-right:  2px solid #BDBDBD;
  border-top:  2px solid #BDBDBD;
  width: 96.5px;
  float: left;

}
.v3>div img{
  top: 50%;
      left: 50%;
      position: relative;
      transform: translate(-50%,-50%);

}
.v3>div:nth-last-of-type(1){
    border-right: none;
}
.bolaxrojo{
  background: #EB5757 !important;
}
.nombretrabajo{
  font-family: "Archivo";
  font-weight: 500;
  font-size: 13px;
line-height: 20px;
text-align: center;
color: #000000;
position: relative;
}
.profesion{
  font-family: "Archivo";
  font-weight: 600;
    font-size: 16px;
  line-height:  20px;
text-align: center;
color:   #2F80ED;
}
.estrelladivprincipal{
  width: 132px;
  height: 25px;
  padding-top: 10px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}


.estrelladivprincipal >span{
  width: 23px;
  height: 23px;
background-image: url("../../../assets/icons/estrella.svg");
background-repeat: no-repeat;
position: relative;
    float: left;
    margin-right: 4px;
}

.estrelladivprincipal >span:nth-last-of-type(1){
    margin-right: 0px;
}
  .lkefttgext{

  text-align: left;
    margin-top: 19px;
  padding-left: 20px;
      padding-right: 40px;
  }
  .textoPrincipalazulta{
    font-family: "Archivo";
    font-weight:500;
    font-size: 14px;
    line-height: 20px;
      color: #2F80ED;
  }
  .rigtgext{
        margin-top: -3px;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    padding-right: 10px;
    cursor: pointer;

  }
    .rigtgext:hover{
      opacity:  0.5;
    }
  .lkefttgext>span{
    font-weight: bold;
  }
  .swiper-scrollbar{
    opacity: 1 !important;
  }
.textoselectabajo{
  font-family: "Archivo";
  font-size: 12px;
  line-height: 20px;
    color: #828282;
    float: right;
margin-top: 4px;
}
.textoselectabajo1{
  float: left;
}
.textoselectabajo2{
  background-image: url("../../../assets/icons/Downbuttongris.svg");
  width: 13px;
  height: 9px;
  float: left;
  margin-top: 6px;
margin-left: 6px;

}
.itemsprincipales{
  position: relative;
  cursor: pointer;
}
.itemsprincipales:hover{
  color: #FFFFFF !important;
  background: #2F80ED;

}
.itemsprincipales:hover .t1m{
  color: #FFFFFF !important;
}
.itemsprincipales:hover .flechateam{
background-image: url("../../../assets/icons/flechaabajomenu.svg") !important;
}
flechaabajomenu
.menuExplore{
  margin-top: -100px;
}
.desplegar{
  overflow: hidden !important;
}
.list::after{
display: none;
}
.list::before{
  left: 0px;
  background: #FFFFFF;
}
.alertaTrabajo{
  background-image: url("../../../assets/icons/alertatrabajo.svg");
  height: 35px;
  width: 35px;
  float: right;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: -10px;

}
.modal_hire{
  position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(51, 51, 51, 0.4);

 z-index: 3;
}
.taget{
width:  392px;
height: 470px;
background: #FFFFFF;
box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.25);
border-radius: 17px;
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%,-50%);
overflow: hidden;
z-index: 3;
}
.parte1arribamodal{
  height: 100px;
  width: 100%;
  border-bottom: 3px solid #BDBDBD;
    display: inline-flex;
}
.parte1arribamodal >.antesjzbola{
  float: left;
  width: calc(100% - 150px);
  height: 100%;
}
.parte1arribamodal .estrelladivprincipal{
  left:0;
  -webkit-transform: none;
}

.aladnombre{
padding-top: 10px;
      float: left;
      width: 100%
}
.aladestrella{
  width: 100%;
}
.aladnombre div{
  text-align: left;
}
.parte1arribamodal .bolasx >span {

height: 12px;
width: 12px;


}
.aladestrella .bolasx {
height: 13px;
width: 50px;
margin-top: 34px;
margin-left: 20px;
}
.texbolas{
font-family: "Archivo";
font-style: italic;
font-weight: bold;
line-height: 20px;
font-size: 15px;
text-align: right;
text-decoration-line: underline;
margin-right: 34px;
margin-top: 16px;
    position: relative;
color: #2F80ED;
}
.texbolas span{
float: right;
right: 0;
position: absolute;
margin-right: -14px;
margin-top: 2px;
}
.aladestrella .bolasx > span img{
  height: 7px;
width: 7px;
}
.taget .v3{
display: flex;
}
.taget .v2{

height: 290px;
}
.taget .v22{
    overflow-y: scroll;
height: 290px;
}
.taget .v3 div{
  width: 100%;
}
.taget .v2 div{
  font-family: "Archivo";
font-style: normal;
font-weight: bold;
line-height: 20px;
font-size: 15px;
color: #2F80ED;
}
.mapay{
  width: 340px;
  height:  146px;
  background: blue;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  margin-top: 10px;
}
.div2w{
  float: left;
  width: 45%;
position: relative;
margin-top: 0px !important;
margin-right: 0px !important;
}
.div2wxxx{
  float: left;
  width: 52%;
}
.btnform{
  position: absolute;
font-family: "Archivo";
font-style: normal;
font-weight: normal !important;
line-height: 27px!important;
font-size: 14px;
text-align: center;
color: #333333 !important;
border-radius: 17px;
border: 1px solid #2F80ED;
width: 144px;
height:  28px;

}
.contptextoigual{
  position:relative;
  height: 26px;
  margin-top: 2px;
}
.contenedorstyle{
  width: 340px;
  height:  275px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.textfiladiv2{
  bottom: 0;
  position: absolute;
  margin-bottom: 5px;
}
.posribt{
  float: right;
  right: 0;
}
.contenBotonsi{
  position: relative;
  height: 35px;
}

.mostrar{
    display:block;
    opacity: 1;
    transition: 0.5s;
}
.nomostrar{
    opacity: 0;
    transition: 0.5s;
    display:none;
}
.textoProfesion{
font-family: "Archivo";
font-weight: normal;
line-height: 14px;
font-size: 12px;
color: #828282;
}
.contedorTrabajadores{
  height: 100px;
  border-bottom:  3px solid #BDBDBD;
  overflow: hidden;

}
.contedorTrabajadores .antesjzbola{
  height: 100px;
  width: 100px;
  float: left;
}
.contedorTrabajadores .aladnombre{
  width: 292px;
      margin-top: 8px;
}
.contedorTrabajadores .profesion{
  float: left;
}
.contedorTrabajadores .estrelladivprincipal{
  padding-top: 0;
  margin-top: -3px;
  left: 0;
  transform: none;
  float: right;
  margin-right: 23px;
}
.contedorTrabajadores .textoProfesion{
  margin-top: 52px;
}
