<section class="sectionbody">

    <div class="menuYaLoguiado">
        <div class="profilleloguiado">
            <div class="blueprofileicon"></div>
            <div class="nomsi">John Doe</div>
        </div>
        <div class="menuTeam">
            <div class="">
                <div class="">
                    <div class="t1m">HOME</div>
                    <div class="flechateam"></div>
                </div>
                <div class="">
                    <div class="t1m">INBOX</div>
                    <div class="flechateam"></div>
                </div>
                <div class="">
                    <div class="t1m">PROJECTS</div>
                    <div class="flechateam"></div>
                </div>
                <div class="">
                    <div class="t1m">TRACK</div>
                    <div class="flechateam"></div>
                </div>
                <div class="">
                    <div class="t1m">EXPLORE</div>
                    <div class="flechateam"></div>
                </div>
            </div>
            <div class="logabajo">
                <div class="centradoFinal">
                    <div class="PlusButton"></div>
                    <div class="plustitulo">Start new project</div>
                </div>
            </div>
        </div>


      </div>

      <div class="Contenidohire">
        <div class="conxenhireright" >
          <div class="">
            <h1 class="h1">See<label class="label">who’s out there.</label></h1>
          </div>
          <div class="">
          </div>
          <div class="">
          </div>
        </div>
      </div>

</section>
