<section class="sectionbody">





    <div class="menuYaLoguiado">
        <div class="profilleloguiado">
            <div class="blueprofileicon"></div>
            <div class="nomsi">John Doe</div>
        </div>
        <div class="menuTeam">
            <div class="">
                <div class="">
                    <div class="t1m">HOME</div>
                    <div class="flechateam"></div>
                </div>
                <div class="">
                    <div class="t1m">INBOX</div>
                    <div class="flechateam"></div>
                </div>
                <div class="">
                    <div class="t1m">PROJECTS</div>
                    <div class="flechateam"></div>
                </div>
                <div class="">
                    <div class="t1m">TRACK</div>
                    <div class="flechateam"></div>
                </div>
                <div class="">
                    <div class="t1m">EXPLORE</div>
                    <div class="flechateam"></div>
                </div>
            </div>
            <div class="logabajo">
                <div class="centradoFinal">
                    <div class="PlusButton"></div>
                    <div class="plustitulo">Start new project</div>
                </div>
            </div>
        </div>
      </div>






      <div class="Contenidohire">
        <div class="conxenhireright" >
          <div class="">
            <h1 class="h1">See<label class="label">who’s out there.</label></h1>
          </div>
          <div class="">
            <div class="colum last relaselect">
                <input type="text" readonly class="input" placeholder="What type of job do you need help with?">
                <img src="../../../../../assets/icons/opcionSelect.svg" class="arrowd" width="28" height="15" [ngClass]="rotar">
            </div>
          </div>
          <div class="">
            <!-- Slider main container -->
            <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
            <!-- Slides -->
            <div id="s-1" class="swiper-slide">
              <div class="v1">
                <div class="view">View Profile</div>
                <div class="parte1arriba">
                  <div class="antesjzbola">
                      <div class="jzbola">J.Z.</div>
                  </div>

                    <div class="bolasx">
                      <span class="bolaxrojo"> <img src="../../../assets/icons/Shape.png" alt="x"> </span>
                      <span>  <img src="../../../assets/icons/Shape.png" alt="x"> </span>
                      <span>  <img src="../../../assets/icons/Shape.png" alt="x"> </span>
                    </div>
                    <div class="nombretrabajo">Jimmy can help with </div>
                    <div class="profesion">Drywall</div>
                </div>
              </div>
              <div class="v2">

              </div>
              <div class="v3">
                <div class="">
                  <img src="../../../assets/icons/Message.png" alt="Message">
                </div>
                <div class="">
                  <img src="../../../assets/icons/Call.png" alt="Call">
                </div>
                <div class="">
                    <img src="../../../assets/icons/Frame.png" alt="Tools">
                </div>

              </div>
            </div>
            <div id="s-2" class="swiper-slide">
              <a href="https://apple.com">Slide 2</a>
            </div>
            <div id="s-3" class="swiper-slide">

            </div>
            </div>
            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
            </div>
          </div>
        </div>
      </div>





</section>
