
@import url('https://fonts.googleapis.com/css?family=Archivo:400,400i,500,500i,600,600i,700,700i');
/*Reset*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased !important;
    -webkit-overflow-scrolling: touch !important;
    text-rendering: optimizeLegibility;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

textarea {
    overflow: auto;
}



body{
    font-family: 'Archivo', sans-serif;
}
.h1{
    font-size: 40px;
    color: #BBBBBB;
    line-height: 45px;
    font-weight: 500;
}
.label{
    color: #2F80ED;
    font-style: italic;
    font-weight: 600;
}
.input{
    width: calc(100% - 25px);
    height: 45px;
    border: solid 1px #2F80ED;
    color: rgba(0, 0, 0, 0.5);
    padding: 0;
    padding-left: 23px;
    border-radius: 17px;
    font-size: 20px;
}
.input:focus{
    outline: none;
}
.textoDark{
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}
.tags{
    background-color: #2F80ED;
    color: white;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    width: 144px;
    height: 28px;
    border-radius: 17px;
    text-transform: capitalize;
}
.buttonredondo{
    width: 38px;
    height: 37px;
    border-radius: 50%;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.25);
    background-color: #008AF3;
}
.button{
    width: 175px;
    height: 45px;
    background-color: #008AF3;
    color: white;
    border-radius: 17px;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;   
    line-height: 20px;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    border: none;
    font-family: "Archivo";
}
.button:focus{
    outline: none;
}
.span{
    color: #2F80ED;
    line-height: 20px;
    font-size: 16px;
}
.x{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: white;
    background-image: url('./assets/icons/x.png');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 3px 1px 24px -3px black;
    cursor: pointer;
}
.xblue, .xcruz{
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #008AF3;
    box-shadow: 10px 1px 4px rgba(0, 0, 0, 0.25);
    background-image: url('./assets/icons/xwhite.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.xcruz{
    background-image: url('./assets/icons/cruz.png');
}
.tagswhite{
    width: 227px;
    height: 28px;
    border-radius: 17px;
    font-size: 14px;
    line-height: 29px;
    color: #333333;
    border: 1px solid #2F80ED;
    text-align: center;
}
