
.date{
    text-align: center;
    font-size: 12px;
    color: #828282;
    margin-top: 9px;
}
.contact{
    overflow: hidden;
    margin-left: 22px;
    width: 407px;
    margin-top: 11px;
    padding-bottom: 30px;
    position: relative;
}
.perfil2{
    position: absolute;
    width: 35px;
    height: 35px;
    background-image: url('../../../assets/login/blueprofileicon.svg');
    background-size: cover;
    bottom: 24px;
}
.textochat{
    float: left;
    background: #F2F2F2;
    color: #828282;
    border-radius: 17px;
    font-size: 12px;
    margin-left: 50px;
    width: 357px;
}
.textochat p{
    margin-left: 21px;
    margin-right: 12px;
    line-height: 14px;
}
.textochat .p1{
    margin-top: 14px;
}
.textochat .p2, .textochat .p3{
    margin-top: 19px;
}
.linea{
    margin: 0 auto;
    margin-top: 6px;
    height: 1px;
    width: 327px;
    background: #BDBDBD;
}
.archadjunto{
    margin-top: 7px;
    overflow: hidden;
    margin-left: 21px;
    margin-bottom: 11px;
}
.clip{
    float: left;
    width: 12px;
    height: 13px;
    background-image: url('../../../assets/icons/adjunto.svg');
    background-size: cover;
}
.archad{
    float: left;
    font-weight: 600;
}
.archad p{
    margin-left: 11px;
}
.time{
    color: #828282;
    font-size: 12px;
    margin-left: 53px;
    margin-top: 13px;
    float: left;
}
