
<div class="contenedor" >
    
<section *ngIf="next == 0">
  <div class="t1">
    <h1 class="h1">Tell us more about <label class="label">you.</label></h1>
  </div>
  
  <div class="cont1">
    <p class="textoDark">Enter your personal information.</p>
    <div>
      <div class="colum">
          <input type="text" class="input" placeholder="First Name">
      </div>
      <div class="colum der">
          <input type="text" class="input" placeholder="Last Name">
      </div>
      <div class="colum">
          <input type="text" class="input" placeholder="Phone Number">
      </div>
    </div>
  </div>

  <div class="cont1">
      <p class="textoDark">Enter account information.</p>
      <span class="span">Your username will be your e-mail address.</span>
      <div>
        <div class="colum">
            <input type="text" class="input" placeholder="E-mail">
        </div>
        <div class="colum der">
            <input type="password" class="input" placeholder="Password">
        </div>
      </div>
    </div>

    <div class="cont1">
        <p class="textoDark">Where are you located?</p>
        <div class="colum last">
            <input type="text" class="input" placeholder="Enter city or zipcode.">
        </div>
      </div>
  </section>    
  <section *ngIf="next > 0 && next < 3">
      <app-select></app-select>
  </section>
  <section *ngIf="next == 3">
      <app-reviews></app-reviews>
  </section>

</div>

<div class="botones">
    <button class="button back" *ngIf="next > 0" (click)="back()">Back</button>
    <button class="button" (click)="seguir()"><label *ngIf="next < 3">Next</label><label *ngIf="next == 3">Finish</label></button>
</div>

<div class="modal" *ngIf="next == 2">
    <div class="taget">
        <p class="textoDark">Would you like to show people your proficiency as a <label class="label">{{select.skill2}}?</label></p>
        <div class="botones2">
            <button class="button back">Sure!</button>
            <button class="button" (click)="seguir()">Skip</button>
        </div>
        <div class="xblue" (click)="cerrar()"></div>
    </div>
</div>


  
