.contenedor{
    margin: 0 auto;
    margin-top: 95px;
    width: 911px;
    overflow: hidden;
    position: relative;
    margin-bottom: 119px;
}
.h1{
    color: black;
}
.input{

    cursor: pointer;
}
.conselec{
    position: relative;
    margin-top: 18px;
}
.arrowd{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    transition: 0.5s;
}
.minitext{
    text-align: right;
    position: relative;
    color: #828282;
    font-size: 12px;
    line-height: 20px;
    margin-top: 10px;
}
.minitext p{
    margin-right: 19px;
}
.minitext::before{
    content: '';
    position: absolute;
    background-image: url('../../../../../assets/icons/grayarrow.png');
    width: 13px;
    height: 9px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.tarjetas{
    margin-top: 53px;
    display: -webkit-box;
    overflow-x: scroll;
    height: fit-content;
}
.target{
    width: 295px;
    overflow: visible;
    text-align: center;
    margin-right: 11px;
    margin-bottom: 25px;
}
.perfil{
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background-color: #CFDCE6;
    margin: 0 auto;
    margin-top: 21px;
}
.puntos{
    margin: 0 auto;
    margin-top: 6px;
    width: 35px;
    display: -webkit-box;
}
.pto{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #D0C4C4;
    margin-left: 5px;
    background-image: url('../../../../../assets/icons/xwhite.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3px;
    cursor: pointer;
}
.pto:first-child{
    margin-left: 0;
}
.red{
    background-color: #EB5757;
}
.nombre{
    line-height: 22px;
    font-size: 13px;
    margin-top: 5px;
}
.proyecto{
    font-size: 16px;
    line-height: 15px;
    font-weight: 500;
    margin-top: 4px;
}
.linea{
    width: 174px;
    margin: 0 auto;
    margin-top: 22px;
    height: 1px;
    background-color: #BDBDBD;
}
.text{
    line-height: 20px;
    font-size: 14px;
    color: #2F80ED;
    margin-top: 29px;
    margin-left: 22px;
    text-align: left;
}
.text label{
    font-weight: bold;
}
.link{
    font-size: 15px;
    line-height: 20px;
    color: #2F80ED;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
}
.icons{
    margin-top: 15px;
    border-top: #BDBDBD solid 1px;
    position: relative;
}
.icon{
    width: 50%;
    float: left;
    height: 77px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.icon:first-child{
    background-image: url('../../../../../assets/icons/MessageButton.svg');
}
.icon:last-child{
    background-image: url('../../../../../assets/icons/Call.svg');
}
.line{
    position: absolute;
    top: 0;
    height: 77px;
    width: 1px;
    background-color: #BDBDBD;
    left: 50%;
    transform: translateX(-50%);
}

.tarjetas::-webkit-scrollbar {
    height: 9px;
} 
.tarjetas::-webkit-scrollbar-track {
    background: #BDBDBD;
} 
.tarjetas::-webkit-scrollbar-thumb {
    background: #828282;
}
.t1{
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    cursor: pointer;
}
.t2, .t1{
    overflow: hidden;
    background-color: white;
    position: relative;
}
.t2{
    border-radius: 17px;   
    z-index: 2;
    margin-top: -260px;
    transition: 0.5s;
}
.map{
    margin: 10px;
    height: 138px;
    background: #2F80ED;
    border-radius: 4px;
}
.minicont{
    margin-bottom: 43px;
    overflow: hidden;
}
.direccion{
    margin-top: 5px;
    line-height: 18px;
    font-size: 13px;
    margin-left: 16px;
    float: left;
    text-align: left;
}
.ir{
    background-image: url('../../../../../assets/icons/ir.svg');
    background-position: center;
    background-repeat: no-repeat;
    float: right;
    margin-top: 9px;
    margin-right: 18px;
    width: 50px;
    height: 50px;
}
.t2baja{
    transition: 0.5s;
    box-shadow: 0px -2px 29px 1px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
    margin-top: -25px; 
}
.mostrar{
    opacity: 1;
    transition: 0.5s;
}