<div class="contenedor">
  <div class="h1"><p>See<label class="label"> drywall projects out there.</label></p></div>
  <div class="conselec">
    <input class="input" placeholder="What type of job do you want to help with?">
    <img src="../../../../../assets/icons/opcionSelect.svg" class="arrowd" width="28" height="15">
  </div>
  <div class="minitext">
    <p>Sort: Newest Jobs</p>
  </div>
  <div class="tarjetas">
    <div class="target">
      <div class="perfil"></div>
      <div class="puntos">
        <div class="pto red"></div>
        <div class="pto"></div>
        <div class="pto"></div>
      </div>
    </div>
  </div>
</div>